<html>
<head>
<link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
</head>

<body>
  <h3>Welcome to wiki page!</h3>
    <form action="inputname" method="post">
      <input type="text" name="user_name" id="user_name"/>
      <input type = "submit" value = "Login"/>
    </form>
</body>


</html>
