<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="css/mainpage.css" media="screen" />
</head>

<body>
	<p>
	<div class="butdiv">
	<button type="button" name="login">Login</button>
	</div>
	<div class="butdiv">
	<button type="button" name="register" action="register" method="get">Register</button>
	</div>
	</p>

  <h1>Welcome to wiki page!</h1>
  <div id="imgdiv"><img src="css/login.png" alt="login img" width="240" height="240"/><div>
  <input type="text" id="search" placeholder="Search something here..."/>

</body>
</html>
