<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="css/register.css" media="screen" />
</head>
<body>
<form method="post" action="">
<center>
<p>Please filling following information:</p>
<table>
<tbody>
	<tr>
		<td>
		User Name:
		</td>
		<td>
		<input type="text" name="user_name"/>
		</td>
	</tr>

	<tr>
		<td>
		Fisrt Name:
		</td>
		<td>
		<input type="text" name="first_name"/>
		</td>
	</tr>
	<tr>
		<td>
		Last Name:
		</td>
		<td>
		<input type="text" name="last_name"/>
		</td>
	</tr>
	<tr>
		<td>
		Passward:
		</td>
		<td>
		<input type="text" name="passward"/>
		</td>
	</tr>
	<tr>
		<td>
		Renter passward:
		</td>
		<td>
		<input type="text" name="re_passward"/>
		</td>
	</tr>
	<tr>
		<td>
		E-mail address:
		</td>
		<td>
		<input type="text" name="email_address"/>
		</td>
	</tr>
</tbody>
</table>
</center>

</form>
</body>
</html>
